@import url(fonts.css);
/* Global styles */
:root {
  --white: #ffff;
  --graywhite: #f1f5f8;
  --gray: #c1c1c0;
  --darkgreen: #21aa58;
  --lightgreen: #00d171;
  --black: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-weight: 400;
}
a {
  text-decoration: none;
}
body {
  font-family: "vazir";
}
/* header banner styles */
#banner {
  display: flex;
  justify-content: center;
  background-color: rgb(15, 206, 76);
  height: 90px;
}
#banner img {
  height: 90px;
}
/* navbar styles */
#navbar {
  display: flex;
  gap: 2rem;
  padding-right: 4rem;
  background-color: var(--white);
  align-items: center;
  padding: 2rem 4rem;
}
#navitems {
  display: flex;
  gap: 2.5rem;
}
#navitems div:nth-child(1) svg,
div:nth-child(7) svg {
  width: 15px;
}
#navitems div:nth-child(1) a,
div:nth-child(7) a {
  display: flex;
  gap: 8px;
}
#navitems a {
  color: var(--black);
}
/* #drop--down{
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--gray);
  background-color: var(--white);

  visibility: hidden;
}
#drop--down a{
  margin: 5px;
  font-family: "vazir";
}
#navitems div:nth-child(1):hover #drop--down{
visibility: visible;
} */
/* herosection styles */
#herosection {
  display: flex;
  background-color: aqua;
  justify-content: space-between;
}
#herosection--img img {
  width: 50%;
  background-color: blue;
}
#herosection--img {
  display: contents;
}
#herosection--text {
  background-color: var(--darkgreen);
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  color: var(--white);
}
#herosection--text h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.8;
}
#herosection--text p {
  font-size: 20.3px;
  line-height: 1.7;
}
#herosection--form {
  display: flex;
  margin: 1rem;
  gap: 3rem;
}
#herosection--form input[type="text"] {
  background: none;
  border: none;
  border-bottom: 1px solid var(--white);
  color: var(--white);
  padding-left: 2rem;
}
#herosection--form input[type="text"]::placeholder {
  font-size: small;
  padding: 1rem;
  color: var(--white);
}
#herosection--form button {
  border-radius: 0.5rem;
  border: none;
  font-family: "vazir";
  height: 3rem;
  min-width: 7.5rem;
  background-color: var(--white);
  font-size: medium;
  color: rgb(14, 177, 65);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#herosection--form button:hover {
  background-color: rgba(255, 255, 255, 0.87);
}
#login:hover {
  background-color: rgba(255, 255, 255, 0.144);
}
#login {
  height: 3rem;
  border-radius: 0.5rem;
  border: 1px solid var(--white);
  background-color: var(--darkgreen);
  font-size: medium;
  font-family: "vazir";
  color: var(--white);
  cursor: pointer;
  transition: background-color 0.5s ease;
}
/* download app  */
#download__container {
  padding: 3rem 1rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
}
#download__container img {
  width: 10rem;
}
#download__container div {
  align-items: center;
  display: flex;
}
/* services styles */
#services__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services--items {
  display: flex;
  flex-wrap: wrap;
}
