@import url(fonts.css);
/* Global styles */
:root {
  --white: #ffff;
  --graywhite: #f1f5f8;
  --gray: #c1c1c0;
  --darkgreen: #21aa58;
  --lightgreen: #00d171;
  --black: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-weight: 400;
}
a {
  text-decoration: none;
}
body {
  font-family: "vazir";
}
#banner {
  display: flex;
  justify-content: center;
  background-color: rgb(15, 206, 76);
  height: 90px;
}
#banner img {
  height: 90px;
}
#navbar {
  display: flex;
  gap: 2rem;
  padding-right: 4rem;
  background-color: var(--white);
  align-items: center;
  padding: 2rem 4rem;
}
#navitems {
  display: flex;
  gap: 2.5rem;
}
#navitems a {
  color: var(--black);
}
#herosection {
  display: flex;
  background-color: aqua;
  justify-content: space-between;
}
#herosection--img img {
  width: 50%;
  background-color: blue;
}
#herosection--img {
  display: contents;
}
#herosection--text {
  background-color: var(--darkgreen);
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  color: var(--white);
}
#herosection--text h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.8;
}
#herosection--text p {
  font-size: 20.3px;
  line-height: 1.7;
}
#herosection--form {
  display: flex;
  margin: 1rem;
  /* justify-content: space-around; */
  gap: 5rem;
}
#herosection--form input[type="number"] {
  /* background-color: red; */
  border: none;
}
#herosection--form button {
  border-radius: 0.5rem;
  border: none;
  font-family: "vazir";
  height: 3rem;
  min-width: 7.5rem;
  background-color: var(--white);
  font-size: medium;
  color: rgb(14, 177, 65);
}
#login {
  height: 3rem;
  border-radius: 0.5rem;
  border: 1px solid var(--white);
  background-color: var(--darkgreen);
  font-size: medium;
  font-family: "vazir";
  color: var(--white);
}
